    <style>

        body{background-color:#1c1c1c; display:flex; font-family: Verdana, Geneva, Tahoma, sans-serif;}

       .contact_with_user{padding: 20px 0; width: 300px; background-color:#343434;
        display:flex; justify-content: center; justify-content:space-between; 
        border-radius: 10px; margin-top: 10px; padding: 0 2px;}

       .div__img{display: flex; align-items: center; justify-content:center; 
       width:50px; height: 50px; color: silver; border-radius: 50%;}

       .user__and__message{display: flex; flex-direction:column; justify-content:flex-start; flex-grow:1;}

       .lastTime__and__countNewMessage{display: flex; flex-direction:column;}

       .div__count__new__message{display: flex; margin: auto;}

       .count__new__message{background-color:#51b5c5; width:20px; height:20px; 
       border-radius: 50%; color:#343434; font-size: 12px; 
        text-align: center; line-height: 1.6}

       .last__message{color:silver}

       .div__chat{display: flex; flex-grow:1; font-size: 20px; flex-direction:column; padding: 10px;}

       .message_left{align-self:flex-start;}
       .message_right{align-self:flex-end;}
       .message{display:flex; flex-direction:column; background-color:#343434; 
        border-radius: 10px; padding: 10px; color: silver;}
       .message + .message{margin-top: 10px;}

       .time__message{font-size: 10px; align-self:center; margin-bottom: -8px;}

       .top__user__name, .list__user__name {color:white;}
       
       .last__time__message {color:silver;}

       .div__top__active__user{display:flex; justify-content:center;}
       .img__top__active__user{color: silver;}
       .name__top__active__user{margin-left:5px;}

       .div__messages{padding:10px 0px; display:flex; flex-direction:column; font-size: 20px; flex-grow:1;}

       .img__chat{max-width:200px; padding:10px;}

       .active__contact__user{border: 2px solid silver;}

       .textarea{background-color:#343434; color:white; outline:none; 
       border-color:#343434; border:none; border-radius:10px 10px 0 0;
       flex-grow:1; height: 50px;}

       .send__button{background-color:#51b5c5; color:#1c1c1c; border:none;
        border-radius:0 0 10px 10px;}

        .div__send__message{display: flex; flex-direction:column; padding-bottom: 50px;}

        .div__profile{text-align:right;} /*временные ссылки*/
        .div__profile a{color:rgb(56 128 157);}
    </style>
{{>index}}
<div class="users_list">

    <div class="div__profile">
        <a href="/index.hbs">index</a>
        <a href="/profile.hbs">profile</a>
    </div>

    {{#each users}}
        {{#if this.active}}
        <div class="contact_with_user active__contact__user">
            <div class="div__img">
                <img class="user_img" src="{{this.img}}" alt="img">
            </div>

            <div class="user__and__message">
                <span class="list__user__name">{{this.name}}</span>
                <span class="last__message">{{this.lastMessage}}</span>
            </div>

            <div class="lastTime__and__countNewMessage">
                <div class="lastTimeMessage__div">
                    <span class="last__time__message">{{this.lastTimeMessage}}</span>
                </div>
                <div class="div__count__new__message">
                </div>
            </div>
        </div>
        {{else}}
            {{#if this.user}}
            <div class="contact_with_user">
                <div class="div__img">
                    <img class="img" src="{{this.img}}" alt="img">
                </div>

                <div class="user__and__message">
                <span class="list__user__name">{{this.name}}</span>
                <span class="last__message">{{this.lastMessage}}</span>
                </div>

                <div class="lastTime__and__countNewMessage">
                    <div class="lastTimeMessage__div">
                        <span class="last__time__message">{{this.lastTimeMessage}}</span>
                    </div>
                <div class="div__count__new__message">
                    <span class="count__new__message">{{this.newMessage}}</span>
                </div>
                </div>
            </div>
            {{/if}}
        {{/if}}
    {{/each}}
</div>

<div class="div__chat">
    <div class="div__top__active__user">
        <div class="img__top__active__user">
            <img src="#" alt="img">
        </div>
        <div class="name__top__active__user">
            <span class="top__user__name">Karolina</span>
        </div>
    </div>

    <div class="div__messages">
    {{#each users}}
        {{#if this.messages}}
            {{#each this.messages}}
                {{#if this.img}}
                    <div  class="message_left message">
                        <span>{{this.message}}</span>
                        <img src="{{this.img}}" alt="img" class="img__chat">
                        <span class="time__message">{{this.time}}</span>
                    </div>
                {{else}}
                    <div class="message_left message">
                        <span>{{this.message}}</span>
                        <span class="time__message">{{this.time}}</span>
                    </div>
                {{/if}}
            {{/each}}
        {{/if}}
    {{/each}}
    {{#each users}}
        {{#if this.mymessages}}
            {{#each this.mymessages}}
                {{#if this.img}}
                    <div  class="message_right message">
                        <span>{{this.message}}</span>
                        <img src="{{this.img}}" alt="img" class="img__chat">
                        <span class="time__message">{{this.time}}</span>
                    </div>
                {{else}}
                    <div class="message_right message">
                        <span>{{this.message}}</span>
                        <span class="time__message">{{this.time}}</span>
                    </div>
                {{/if}}
            {{/each}}
        {{/if}}
    {{/each}}
    </div>

    <div class="div__send__message">
        <input type="textarea" class="textarea" name="message">
        <input type="button" value="send" class="send__button">
    </div>

</div>