    <style>
       html, body{height: 100%;}

       * {box-sizing: border-box}

       body{background-color:#1c1c1c; display:flex; font-family: Verdana, Geneva, Tahoma, sans-serif;}

       .contact_with_user{padding: 20px 0; width: 300px; background-color: #343434;
        display:flex; justify-content: center; justify-content:space-between; 
        border-radius: 10px; margin-top: 10px; padding: 0 2px;}

       .sign__up__form{display:flex; flex-direction:column; align-items:center;}

       .div__img{display: flex; align-items: center; justify-content:center; 
       width:50px; height: 50px; color: silver; border-radius: 50%;}

       .user__and__message{display: flex; flex-direction:column; justify-content:flex-start; flex-grow:1;}

       .list__user__name {color:white;}

       .lastTime__and__countNewMessage{display: flex; flex-direction:column;}
       
       .div__count__new__message{text-align: center;}

       .last__time__message{color: silver;}
       .count__new__message{background-color:#51b5c5; width:20px; height:20px; border-radius: 50%; 
       display:inline-block; color: #343434; font-size: 12px;  line-height: 1.6}

       .last__message{color:white}

       .div__chat{display: flex; align-items: center; justify-content:center; flex-grow:1; font-size: 20px;}
       .select__chat{color: silver;}

       .div__profile{text-align:right;}
       .div__profile a{color:rgb(56 128 157);}
    </style>
{{>index}}
<div class="users_list">

    <div class="div__profile">
        <a href="/profile.hbs">Profile</a>
    </div>

    {{#each users}}
        {{#if this.user}}
        <div class="contact_with_user">

            <div class="div__img">
                <img class="img" src="{{this.img}}" alt="img">
            </div>

            <div class="user__and__message">
                <span class="list__user__name">{{this.name}}</span>
                <span class="last__message">{{this.lastMessage}}</span>
            </div>

            <div class="lastTime__and__countNewMessage">
                <div class="lastTimeMessage__div">
                    <span class="last__time__message">{{this.lastTimeMessage}}</span>
                </div>
                <div class="div__count__new__message">
                    <span class="count__new__message">{{this.newMessage}}</span>
                </div>
            </div>
        </div>
        {{/if}}
    {{/each}}
</div>

<div class="div__chat">
    <span class="select__chat">
    Выберите чат, чтобы отправить сообщение
    </span>
</div>